body{background-color: rgb(0, 146, 0);margin: 0;}

.center{background-color: rgb(255, 255, 255);
display: inline-block;position: relative;width: 200px;height: 100px;left: 400px;top: 272px;border:
 black  7px;
border-radius:10px ;
  text-align: center;
border-style: outset ;
    font-size: 20px;


 }
img{display: inline-block;width: 50px;height: 60px;position: relative;}
nav a:hover{background-color: rgb(28, 207, 118);}

.on{background-color: #0093FF;border: black;border-radius: 10px;border-style:outset ;}
.ont {
  position: relative;
  display: inline-block;
}
.on-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(110, 110, 110, 0.2);
  padding: 24px 16px;
  z-index: 1;}
.ont:hover .on-content {
  display: block;
}
span{display: inline;size: 10px;}
.one{display: block;position: relative;;background-color:#0093FF;
  border:rgb(0, 0, 0);border-style: groove;border-radius: 10px;
  text-align: center;font-size: 30px;
}
a{color: black;}